[Unit]
Description=BackupPFsense
[Service]
Environment=RCLONE_CONFIG="/container-vols/backup/rclone.conf"
ExecStart=/usr/bin/bash /container-vols/backup/backup-pfsense.sh {{ item }}

[Install]
WantedBy=default.target