[Unit]
Description=BackupOmada
Wants=backup-omada.timer

[Service]
Environment=RCLONE_CONFIG="/backup/rclone.conf"
ExecStart=/usr/bin/bash /backup/backup-omada.sh {{ item }}

[Install]
WantedBy=multi-user.target