{
    "autoUpdate": {
        "forcePullImage": true,
        "interval": "1h"
    },
    "deploymentType": 0,
    "edgeGroups": [
        {{ edge_group_id | int }}
    ],
    "filePathInRepository": "{{ vars[stack].compose_path }}",
    "name": "{{ stack }}",
    "registries": [
        {{ dh_creds_id | int }}
    ],
    "repositoryAuthentication": true,
    "repositoryGitCredentialID": {{ gh_creds_id | int }},
    "repositoryReferenceName": "{{ vars[stack].branch }}",
    "repositoryURL": "https://github.com/{{ secret_gh_user }}/apps"
}