services:
  agent:
    image: portainer/agent:{{ secret_portainer_version }}
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
      - /container-vols/portainer_agent_data:/data
    restart: unless-stopped
    environment:
      - EDGE=1
      - EDGE_ID={{ ansible_hostname }}
      - EDGE_KEY={{ auto_enroll_token['json']['edgeKey'] }}
      - EDGE_INSECURE_POLL=1
      - PORTAINER_GROUP=2
  