services:
  admin:
    image: portainer/portainer-ee:{{ portainer_version }}
    command: ["--admin-password","{{ secret_portainer_admin_encrypted_pass }}", "--license-key", "{{ secret_portainer_license }}", "--edge-compute"]
    ports:
     - "9443:9443"
     - "8000:8000"
    volumes:
      - /container-vols/portainer/data:/data
    restart: unless-stopped
