[Unit]
Description=BackupPFsense
Requires=backup-pfsense.service

[Timer]
Unit=backup-pfsense.service
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target