[Unit]
Description=BackupAdguard
Requires=backup-adguard.service

[Timer]
Unit=backup-adguard.service
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target